<div class="text-center d-lg-none w-100">
	<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
		<i class="icon-unfold mr-2"></i>
		Footer
	</button>
</div>

<div class="navbar-collapse collapse" id="navbar-footer">
	<span class="navbar-text">
		&copy; 2015 - 2018. AutoSMS
	</span>
</div>

<!-- Select Outlet -->
<div id="select_outlet" class="fade modal " tabindex="-1">
	<div class="modal-dialog modal-xs">
		<div class="modal-content">
			<div class="modal-body">
				<label for="select-outlet">Switch Outlet</label>
				<select class="form-control select-outlet" data-fouc>
					<optgroup label="Mountain Time Zone">
						<option value="AZ">Arizona</option>
						<option value="CO">Colorado</option>
						<option value="ID">Idaho</option>
						<option value="WY">Wyoming</option>
					</optgroup>
					<optgroup label="Central Time Zone">
						<option value="AL">Alabama</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
					</optgroup>
				</select>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn bg-primary">Select</button>
			</div>
		</div>
	</div>
</div>
<!-- /Select Outlet -->