<!-- Main navigation -->
	<!-- Select Outlets -->
	<div class="sidebar-user">
		<div class="card-body bg-slate-800">
			<div class="media">
				<div class="media-body">
					<div class="media-title font-weight-semibold"><i class="icon-store mr-1"></i>All Outlets</div>
					<!-- <div class="font-size-xs opacity-50">
							<i class="icon-pin font-size-sm"></i> &nbsp;Santa Ana, CA
						</div> -->
				</div>

				<div class="ml-3 align-self-center">
					<a href="#" class="text-white" data-toggle="modal" data-target="#select_outlet"><i class="icon-sort"></i></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Select Outlets -->


	<div class="card card-sidebar-mobile">
		<ul class="nav nav-sidebar" data-nav-type="accordion">
			<li class="nav-item-header">
				<div class="text-uppercase font-size-xs line-height-xs">Navigation</div> <i class="icon-menu" title="Main"></i>
			</li>
			<li class="nav-item">
				<a href="hotels.html" class="nav-link">
					<i class="icon-home"></i>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="nav-item nav-item-submenu nav-item-expanded">
				<a href="#" class="nav-link">
					<i class="icon-list"></i>
					<span>Menus</span>
				</a>
				<!-- <ul class="nav nav-group-sub" data-submenu-title="Layouts">
					<li class="nav-item"><a href="categories.html" class="nav-link">Menus</a></li>
					<li class="nav-item"><a href="posts.html" class="nav-link">Categories</a></li>
				</ul> -->
				<ul class="nav nav-group-sub" data-submenu-title="Menu levels">
					<li class="nav-item nav-item-submenu  nav-item-expanded">
						<a href="#" class="nav-link"><i class="icon-coffee"></i> Dishes</a>
						<ul class="nav nav-group-sub">
							<li class="nav-item"><a href="dish-items.html" class="nav-link"><i class="icon-circle-small"></i> Items</a></li>
							<li class="nav-item"><a href="dish-categories.html" class="nav-link"><i class="icon-circle-small"></i> Categories</a></li>
						</ul>
					</li>
					<li class="nav-item nav-item-submenu  nav-item-expanded">
						<a href="#" class="nav-link"><i class="icon-coffee"></i> Cakes</a>
						<ul class="nav nav-group-sub">
							<li class="nav-item"><a href="#" class="nav-link"><i class="icon-circle-small"></i> Items</a></li>
							<li class="nav-item"><a href="#" class="nav-link"><i class="icon-circle-small"></i> Categories</a></li>
						</ul>
					</li>
					<li class="nav-item nav-item-submenu  nav-item-expanded">
						<a href="#" class="nav-link"><i class="icon-coffee"></i> Sweets</a>
						<ul class="nav nav-group-sub">
							<li class="nav-item"><a href="#" class="nav-link"><i class="icon-circle-small"></i> Items</a></li>
							<li class="nav-item"><a href="#" class="nav-link"><i class="icon-circle-small"></i> Categories</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="nav-item nav-item-submenu nav-item-expanded ">
				<a href="#" class="nav-link">
					<i class="icon-stats-growth"></i>
					<span>Sales</span>
				</a>
				<ul class="nav nav-group-sub" data-submenu-title="Layouts">
					<li class="nav-item"><a href="categories.html" class="nav-link"><i class="icon-cart"></i>Orders</a></li>
					<li class="nav-item"><a href="posts.html" class="nav-link"><i class="icon-ticket"></i>Coupon</a></li>
				</ul>
			</li>
			<li class="nav-item nav-item-submenu nav-item-expanded ">
				<a href="#" class="nav-link">
					<i class="icon-store"></i>
					<span>Restaurant</span>
				</a>
				<ul class="nav nav-group-sub" data-submenu-title="Layouts">
					<li class="nav-item"><a href="categories.html" class="nav-link"><i class="icon-location3"></i>Locations</a></li>
					<li class="nav-item"><a href="posts.html" class="nav-link"><i class="icon-store"></i>Outlets</a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a href="pricing-plans.html" class="nav-link">
					<i class="icon-gear"></i>
					<span>Settings</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="" class="nav-link">
					<i class="icon-square-left"></i>
					<span>Logout</span>
				</a>
			</li>
	
			<!-- /main -->
	
		</ul>
	</div>
<!-- /main navigation -->

